div {
	height: 100%;
	background-color: red;
	float: left;
}

#left {
	width: 220px;
	margin: 5px;
	background-color: blue;
}

#center {
	margin: 5px;
	width: calc(100% - 460px);
	background-color: yellow;
}

#right {
	margin: 5px;
	width: 220px;
}