html, body {
	height: 100%;
	margin: 0;
}

div {
	height: 100%;
	background-color: red;
	float: left;
}

#left {
	width: calc(25% - 10px);
	margin: 5px;
	background-color: blue;
}

#center {
	margin: 5px 0;
	width: calc(50% - 10px);
	background-color: yellow;
}

#right {
	margin: 5px;
	width: calc(25% - 10px);
}

#feed {
	height: 800px;
	width: calc(100% - 20px);
	margin: 10px;
}