html, body {
	height: 100%;
	margin: 0;
}

div {
	height: 100%;
	background-color: red;
	float: left;
}

#left {
	width: calc(25%);
	margin: 5px;
	background-color: blue;
}

#center {
	margin: 5px 0;
	width: calc(50%);
	background-color: yellow;
}

#right {
	margin: 5px;
	width: calc(25%);
}

#feed {
	height: 100%;
	width: calc(20%);
	margin: 10px;
}